﻿html
{
	background-color:silver;
}


#text 
	{
	color:black;
	text-decoration:blink;
	font-family:Arial, Helvetica, Sans-Serif;
	font-weight:bolder;
	font-size:medium;
	font-style:normal;
	
}
#h1
{
	
	background-repeat:repeat-x;
	font-size:50px;
	font-weight:bolder;
	

	
}
#table
{

	width:600px;
	background-color:black;
	table-layout:auto;
	margin-left:auto;
	margin-right:auto;
	
	
}
tr
{
	
	
	height:10px;
}
td
{
	width:200px;
	
	height:10px;

}
td.Sport
{
	background-color:#3333FF;
}
td.halb
{
	background-color:gray;
	
}
td.voll
{
	background-color:#6666FF;
}

td.Sportart
{
	background-color:#9966FF;
}
td.halbe
{
	background-color:#9966FF;
}
td.volle
{
	background-color:#9966FF;
	
}
#Kcalverbrennung
{
	background-color:#666699;
	width:600px;

	table-layout:auto;
	margin-left:auto;
	margin-right:auto;

}

tr
{
	
	
	height:20px;
}



td.Sportart2
{
	background-color:#666699;
	height:40px;
}
td.Kcal
{
	background-color:#993366;
	
}
td.Zeit
{
	height:40px;
	
	background-color:#6699FF;
	
}
td.Sportart3
{
	background-color:#666699;
	height:40px;
}
td.Kcal2
{
	height:40px;
	background-color:#993366;
}
td.Zeit2
{
	height:40px;
		background-color:#6699FF;
}


#output 
{
	background-color:silver;
	color:black;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	font-style:normal;
 	border:0px;
 
}

#output table
{
	width:800px;
	background-color:#FFFFFF;
	
}
#output td
{
	width:auto;	
}

#output tr
{
	width:auto;
	background-color:white;	
}

.total
{
	background-color:#CC0000;
	z-index:2;	
	
}


