﻿
#hintergrund
{
	height:auto;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background-color:blue;
	

}
	


#rahmen
{
	height:auto;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	background-color:#CCCCCC;
	border:thin black solid;
	z-index:2;
}
#rahmen2
{
	background-color:white;
}

form
{
	margin-left:50px;
}

#but
{
	background-color:#0099FF;
	width:40px;
	border:medium black solid;
	font-weight:bold;
}

#but2
{
	background-color:#0099FF;
	width:100px;
	border:medium black solid;
	font-weight:bold;
}
#kontakt
{
	background-color:#FF99CC;	
}

#index input
{
	background-color:#0099FF;
	width:200px;
	border:medium black solid;
	font-weight:bold;	
}

input
	{
	background-color:#0099FF;
	border:medium black solid;
	font-weight:bold;}


#h1
{
	font-size:xx-large;
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", Serif;
	color:#0099FF;
 }


#tab table
{
	background-color:white;
	border: 0px solid #000;
	 text-decoration:none;
 	font-family:Arial, Helvetica, sans-serif;
 	font-size:16px;
 	font-weight:bold;
 	color:black;
	
}

#tab tr
	{
		}

#tab td
	{
	text-align:center;
	
		
}


#text{
	line-height:2px;
	font-weight:bold;
}

#output 
{
	background-color:silver;
	color:black;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	font-style:normal;
 	border:0px;
 
}


#anzeige a
{
	color:#0099FF;
	text-decoration:none;
}

#anzeige a:visited;
{
	color:white;
	text-decoration:none;
}



#auswahl
{

 width:300px;
 height:50px;	
 background-color:gray;
 text-decoration:none;
 font-family:Arial, Helvetica, sans-serif;
 font-size:medium;
 color:black;
 margin-top:2px;
}

#auswahl select
{
	background-color:#0099FF;
	width:200px;
	border:medium black solid;
	font-weight:bold;}


#abfrage
{
 height:50px;	
 width:300px;
margin-top:2px;
 background-color:gray;	
  text-decoration:none;
 font-family:Arial, Helvetica, sans-serif;
 font-size:medium;
 color:black;

}

#abfrage select
{
		background-color:#0099FF;
	width:200px;
	border:medium black solid;
	font-weight:bold;
}

#slider
{

margin-top:2px;
 width:300px;
 height:90px;
 background-color:gray;	
  text-decoration:none;
 font-family:Arial, Helvetica, sans-serif;
 font-size:medium;
 color:black;
}

#slider select
{
	background-color:#0099FF;
	width:200px;
	border:medium black solid;
	font-weight:bold;
}

#tab
{


}

td.anzahl 
{
	width:200px;
	background-color:#0099FF;
	padding-left:5px;
	padding-right:5px;

}

td.menge
{
	width:200px;
	background-color:#0066FF;
	padding-left:5px;
	padding-right:5px;
	
}

td.nah
{
	background-color:#0099FF;
	padding-left:5px;
	padding-right:5px;


}

td.gramm
{
	width:100px;
	background-color:#0066FF;	
	padding-left:5px;
	padding-right:5px;
	

}

td.kilo
{
	width:100px;
	background-color:#0099FF;
	padding-left:5px;
	padding-right:5px;
	

}

td.kal
{
	width:100px;
	background-color:#0066FF;
	padding-left:5px;
	padding-right:5px;
	

}

td.fett
{
	width:100px;
	background-color:#0099FF;	
	padding-left:5px;
	padding-right:5px;



}

td.kh
{
	width:100px;
	background-color:#0066FF;	
	padding-left:5px;
	padding-right:5px;
	


}

td.prot
{
	width:100px;
	background-color:#0099FF;
	padding-left:5px;
	padding-right:5px;
	


}
marquee
{
	
	
	
}

.total
{
	background-color:#CC0000;	
	
}






